/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */



body {
  position: fixed;
  font-family: 'PT Serif', serif;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
}
body.no-js, body.clicked {
  position: static;
}
img {
  max-width: 100%;
}
.clp-agegate {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;  
  z-index: 999;
}

.no-js .clp-agegate,
.clicked .clp-agegate {
  display: none;
}
.clp-agegate-dialog {
  background: #fff;
  max-width: 80%;
  margin: 20px; 
  padding: 16px;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
}
.clp-agegate-dialog .clp-logo {
  width: 100%;
  max-width: 10em;
  margin-bottom: 32px;
}
.clp-agegate-dialog p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.clp-enter {
  border: none;
  background: #5e1e20;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding: .5em 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.clp-enter:hover,
.clp-enter:active,
.clp-enter:focus {
  opacity: 0.8;
}
@media (min-width: 20em) {
  .clp-agegate-dialog { 
    padding: 32px;
    margin: 54px 32px;
  }
}
@media (min-width: 30em) {
  .clp-agegate-dialog { 
    max-width: 65%; 
    margin: 54px auto;

  }
}
@media (min-width: 40em) {
  .clp-agegate-dialog {
    margin: 72px auto;
    width: 50%;
    max-width: 30em;
    padding: 64px;
  }
  .clp-agegate-dialog .clp-logo {
    max-width: 15em;
    margin-bottom: 64px;
  }
  .clp-agegate-dialog p { 
    font-size: 24px;
    font-size: 1.5rem;
  }
  .clp-enter { 
    font-size: 20px;
    font-size: 1.25rem;
  }
}


.clp-nav .clp-logo {
  max-width: 10em;
}
.clp-nav ul {
  margin-top: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.75;
  text-align: right;
}
.clp-nav a {
  text-decoration: none;
  color: #fff;
  padding-left: .2em;
}
.clp-nav a:focus,
.clp-nav a:hover,
.clp-nav a:active {
  border-bottom: 1px solid #fff;
}
@media (min-width: 50em) {
  .clp-nav {
    position: relative;
  }
  .clp-nav ul {
    display: inline-block;
    margin-top: 0;
    right: 0;
    position: absolute;
    top: -6px;
  }
  .clp-nav ul li {
    display: inline-block;
    font-size: 17.6px;
    font-size: 1.1rem;
    margin-left: .5em
  } 
}


.clp-header,
.clp-hero,
.clp-footer {
  background: #5e1e20;
  color: #fff;
  padding: 20px;
}
.clp-hero {
  background: #5e1e20 url(http://www.keithlaidlaw.com/trinchero/images/hero.jpg) no-repeat;
  background-size: 200%;
  background-position: 80% 5em;
  height: 0;
  padding-bottom: 200%;
  position: relative;
}
.clp-hero h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 600;
}
.clp-hero-quote {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 64px;
  margin: 0;
  padding: 0 20px;
}

.clp-wine .clp-figure {
  background-color: #57080a;
  background: linear-gradient(90deg, #57080a 60%, #9d3129 60%);
  text-align:center;
  /background-image: -webkit-linear-gradient( 90deg, #57080a 60%, #9d3129 60%);
  background: linear-gradient(90deg, #57080a 60%, #9d3129 60%);
}
.clp-wine .clp-figure img {
  max-width: 50%;
  margin: 0 auto;
  padding: 16px 0; 
}
.clp-section-text {
  padding: 20px;
}
.clp-section-text h2 span {
  display: block;
}
.clp-section-text p {
  font-size: 20px;
  font-size: 1.25rem;
}
.clp-wine h2::before {
  background-image: url('http://www.keithlaidlaw.com/trinchero/images/accent_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 2em; 
  height: 3.5em;
  margin: 16px 0;
  content:"";
}

.clp-wine-head {
  line-height: 1.4;
  font-weight: 600;
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 8px;
}
.clp-wine-subhead {
  text-transform: uppercase;
  font-size: 17.5px;
  font-size: 1.1rem;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}
.buynow-cta {
  display: inline-block;
  background: #5e1e20;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding: 1em 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  margin: 2em 0 8em;
}
.buynow-cta:hover,
.buynow-cta:active,
.buynow-cta:focus {
  opacity: 0.8;
}

.clp-philosophy .clp-figure {
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}
.clp-philosophy .clp-figure img {
  margin-top: -25%;
}
.clp-philosophy-tag {
  display: block;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 17.5px;
  font-size: 1.1rem;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}
.clp-philosophy-tag::before {
  background-image: url('http://www.keithlaidlaw.com/trinchero/images/accent_02.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 2em; 
  height: 3.5em;
  margin: 16px 0 0;
  content:"";
}

.clp-philosophy-head {
  line-height: 1.4;
  font-weight: 600;
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 16px;
}
.clp-philosophy p {
  margin-bottom: 32px;
}

.clp-footer .clp-logo {
  margin: 32px 0 48px;
}


.clp-footer-head {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 17.5px;
  font-size: 1.1rem;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}
.clp-footer-contact {
  margin-bottom: 48px;
}
.clp-footer-contact-details,
.clp-footer-contact a,
.clp-footer-subfooter {
  font-size: 20px;
  font-size: 1.25rem;
}
.clp-footer-contact a {
  display: inline-block;
  margin-bottom: 8px;
}
a.text-link,
a.text-link:visited {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1px;
}

a.text-link:hover,
a.text-link:active,
a.text-link:focus {
  padding-bottom: 0;
  border-bottom: 1px solid #fff;
}
a.clp-makers-link {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

/* #57080a
#9d3129 */

